.days{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:14px
}

.day{
    min-height:180px
}

.exercise{
    display:flex;
    justify-content:space-between;
    gap:8px;
    align-items:center;
    padding:7px 0;
    border-bottom:1px solid #eee
}

@media(max-width:900px){
    .days{
        grid-template-columns:repeat(2,1fr)}
    }
    
    @media(max-width:600px){
        .days{
            grid-template-columns:1fr
        }
    }
