:root{
    --text-color: #f5f5f5;
    --accent-color: #333e33;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
    column-gap: 10px;
}

.navigation a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.7s;
}

.navigation a:hover{
    color: var(--accent-color);
    text-shadow: 10px 10px 10px #514d4d;
    font-weight: bold;
}